<%- include('partials/header') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('partials/navigation') %>
            <h1>Welcome Home!!</h1>

            <%- include('partials/footer') %>