<%- include('partials/header') %>
    <link rel="stylesheet" href="/css/card.css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css' />
    </head>

    <body>
        <%- include('partials/navigation') %>
            <h1>Welcome Home!!</h1>
            <%- include('partials/footer') %>