<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a href="/" style="font-weight:bold; font-size: large;">Employee Manager</a>
            </li>
            <li class="main-header__item">
                <a href="/">Home</a>
            </li>
            <li class="main-header__item">
                <a href="/employees">Employees</a>
            </li>

        </ul>
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a href="/login">Login</a>
            </li>
            <li class="main-header__item">
                <a href="/signup">Signup</a>
            </li>
        </ul>
    </nav>
</header>