<%- include('../partials/header',{ title: "Log In" }) %>
    <link rel="stylesheet" href="/css/auth.css">
    </head>

    <body>
        <%- include('../partials/navigation') %>
            <main>
                <div class="container">
                    <form class="login-form" action="/login" method="POST">
                        <div class="form-group">
                            <label for="email">E-Mail</label>
                            <input class="form-control" type="email" name="email" id="email">

                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input class="form-control" type="password" name="password" id="password">
                        </div>

                        <button type="submit" class="btn btn-primary">Log In</button>
                    </form>
                </div>
            </main>
            <%- include('../partials/footer') %>